* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Navbar {

  height: 100px;
  padding: 16px;
  display: flex;
  justify-content: space-around;
}

.item-header {
  display: flex;
  gap: 20px;
}

/*******************************/
.flex-container {
  height: 260px;
  padding: 16px;
  display: flex;
  gap: 25px;

}

.main-page {
  width: 7em;
  margin-left: 5.7em;
}

.navbar-p {
  background-color: aqua;
  width: 23em;
  margin-left: 11.3em;
}

.btn {
  margin-left: 42px;
  margin-left: 13.5em;
}



.img-placeholder {
  border: 3px solid black;
  height: 150px;
  width: 360px;
  margin-left: 3.8em;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;


}

.info-class {
  display: flex;
  justify-content: center;
}


.flex-information {
  padding-top: 2em;
  /* height: 260px; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.box-item {

  border: 2px solid black;
  height: 130px;
  width: 120px;
  border-radius: 10%;


}


.quote-container {
  display: flex;
  /* height: 160px; */
  /* padding-top: 7em; */

  /* border: 3px solid black; */
  justify-content: center;
  align-items: center;
}

.flex-quote {
  display: flex;
  justify-content: center;
  /* gap: 5px; */
  margin-top: 10px;
  /* margin-left: 10px; */

}

.flex-quote>p:nth-child(2) {
  padding-left: 5px;
}

.flex-quote>p:nth-child(3) {
  padding-left: 11px;
}

.flex-quote>p:last-child {
  padding-left: 11px;
}

.quote {
  /* height: 130px; */
  width: 140px;
  /* padding-top: 1em; */
  /* border: 2px solid black; */
  align-items: center;




}

.quote>span {
  display: flex;
  justify-content: center;



}



.testimonial-container {
  height: 300px;
  width: 1215px;
  display: flex;
  justify-content: center;
  /* border: 3px solid black; */
  align-items: center;
  margin-top: 50px;
  padding: 20px;
  margin: auto;
  background-color: #E5E7EB;


}

.quote-flex {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial-text>span {
  background-color: blue;
  margin-left: 11em;
  margin-top: 1em;

  display: block;
}